        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            overflow: hidden;
            color: gray;
        }

        .pixel-font {
            font-family: "Tiny5", serif;
            font-weight: 400;
            font-style: normal;
        }

        .navbar {
            position: sticky;
            top: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            text-shadow: 0px 5px 2px black;
            padding: 5px 0;
            z-index: 1000;
            border-bottom: 5px solid rgb(0, 0, 0, 0.5);
        }
        
        .main-container {
            flex-grow: 1;
            margin: 23rem;
        }

        .piano-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* transform: rotate(-90deg);  */
            background-color: #333;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top: 3px solid rgba(143, 143, 143, 0.203);
        }

        .wave-selector {
            padding-top: 20px;
            margin: auto;
            display: -webkit-inline-box;
        }

        .wave-selector label {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
        }

        .wave-selector input,
        .wave-selector button {
            font-size: 16px;
            padding: 5px 10px;
        }

        .wave-type {
            margin-right: 20px;
        }

        .wave-modules {
            padding-top: 20px;
        }
        
        .oscillator-wave-viewer {
            padding: 5px;
            margin-top: 5px;
            border-radius: 20%;
            background-color: #141414;
            border-top: 3px solid rgb(85, 0, 0);
        }

        div #waveformCanvas {
            padding-top: 2px;
        }

        .piano {
            display: flex;
            background-color: #333;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 20px  rgba(0,0,0,0.9);
        }

        .key {
            width: 40px;
            height: 180px;
            border: 1px solid #000;
            border-radius: 0 0 5px 5px;
            margin: 0 2px;
            background-color: #fff;
            transition: all 0.1s ease;
            border-top: 4px solid black;
            border-top: 4px solid black;
            box-shadow: 0 4px rgba(0,0,0,0.9);
            border-bottom-right-radius: inherit;
            border-bottom: 12px solid  rgb(172, 172, 172, 0.3);
            border-bottom-left-radius: inherit;
        }

        .key.black {
            background-color: #1d1d1d;
            height: 120px; 
            width: 30px; 
            margin-left: -15px; 
            margin-right: -15px; 
            z-index: 1;
            border-bottom-right-radius: inherit;
            border-bottom: 4px solid #000000;
            border-bottom-left-radius: inherit;
        }

        .key.active,
        .key.black.active {
            background-color: #ddd;
        }

        .key.black.active {
            background-color: #333;
        }

        .black-corner-border {
            position: relative;
            width: 200px;
            height: 100px;
        }
        
        .black-corner-border::after {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 28px;
            height: 120px;
            border-bottom-right-radius: 8px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            border-right: 2px solid rgba(255, 255, 255, 0.1);
            border-bottom-left-radius: 8px;
        }
        
        .white-corner-border {
            position: relative;
        }
        
        .white-corner-border::after {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 38px;
            height: 179px;
            border-bottom-right-radius: 4px;
            border-bottom: 2px solidrgb(172, 172, 172, 0.3);
            border-right: 2px solid  rgb(172, 172, 172, 0.3);
            border-bottom-left-radius: 4px;
        }

        .synth-button {
            display: inline-block;
            position: relative;
            width: 30px;
            height: 30px;
        }

        .synth-button input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .button-face {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #333;
            border-radius: 50%;
            border: 1px solid #555555a6;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0px 3px black;
        }

        .button-face::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transition: all 0.3s ease;
        }

        .synth-button input:checked + .button-face {
            background-color: #2f2f2f;
        }

        .chorus.button-face::after {
            background-color: rgb(62, 96, 114);
        }

        .reverb.button-face::after {
            background-color:  rgb(102, 59, 90);
        }

        .delay.button-face::after {
            background-color: rgb(51, 96, 57);
        }

        .chorus.synth-button input:checked + .button-face::after {
            background-color: rgb(95, 199, 255);
            box-shadow: 0 0 5px rgb(231, 255, 252));
        }


        .reverb.synth-button input:checked + .button-face::after {
            background-color: rgb(255, 44, 195);
            box-shadow: 0 0 5px rgb(255, 44, 195);
        }

        .delay.synth-button input:checked + .button-face::after {
            background-color: rgb(0, 255, 34);
            box-shadow: 0 0 5px rgb(0, 255, 47);
        }

        @media screen and (orientation: landscape) and (max-width: 768px) {
            body {
                display: none;
            }
            #landscape-warning {
                display: flex; 
                justify-content: center;
                align-items: center;
                height: 100vh;
                text-align: center;
                background-color: #ffcccc;
                color: #333; 
                font-size: 20px; 
                font-weight: bold; 
            }
        }